@model SolvrWebClient.Models.CommentViewModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<head>
</head>
<body>
    <h2>@ViewBag.Title</h2>


    @* View the post here *@
    <div class="post-Box-ViewPost-Standard">
        <div>
            <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
            @Html.Label("", (string)ViewBag.UserName, new { @readonly = "readonly" })
        </div>
        <div>
            @Html.TextArea("DescriptionArea", (string)ViewBag.Description, 10, 0, new { @readonly = "readonly", @class = "standard-TextArea-Size" })
        </div>
        <div class="post-BtnFloat">
            @{/* TODO: Only Post owner can choose to edit and view this */}
            @{/* TODO: EditPhysicalPost i controller skal laves */}
            <input type="button" name="Report Post" value="Edit" style="margin-right: 15px" class="standard-Btn-Colour standard-Btn-border btn" onclick="location.href='@Url.Action("EditPhysicalPost", "CreatePost", new { ID = Model.PostId })'" />
            <input type="button" name="Report Post" value="Report" class="standard-Btn-Colour standard-Btn-border btn" onclick="location.href='@Url.Action("NotImplementedYet", "Home")'" />
        </div>
        <div>
            @Html.Label("", (string)ViewBag.DateCreated, new { @class = "post-DateLabel" })
        </div>
        <br />
    </div>

    @{/* TODO: Only user who doesnt own the post and is chosen as a solvr can view this */}
    @* View the secret description here *@
    @if (true)
    {
        <div class="post-Box-ViewPost-Standard">
            <div>
                Alternativ description:
                <br />
                @Html.TextArea("AltDescriptionArea", (string)ViewBag.AltDescription, 5, 0, new { @readonly = "readonly", @class = "standard-TextArea-Size" })
            </div>
            <div>
                Address:
                <br />
                @Html.TextBox("Adress", (string)ViewBag.Address, new { @readonly = "readonly" })
            </div>
            <div>
                Zip code:
                <br />
                @Html.TextBox("ZipCode", (string)ViewBag.ZipCode, new { @readonly = "readonly" })
            </div>
        </div>
    }

    <hr />

    @* Make a comment here *@
    @using (Html.BeginForm("PostComment", "Post", FormMethod.Post))
    {
        <div class="post-Box-MakeComment-Standard">
            <div>
                <br />
                @Html.HiddenFor(m => m.PostId)
                @Html.TextAreaFor(m => m.Text, 4, 0, new { @class = "standard-TextArea-Size", placeholder = "Write a comment here..." })
            </div>
            <div class="post-BtnFloat">
                <input type="submit" name="comment" value="Post Comment" style="margin-right: 10px" class="standard-Btn-Colour standard-Btn-border btn"/>
                @{/* TODO: Only user who doesnt own the post can choose to apply */}
                <input type="submit" name="comment" value="Apply" class="standard-Btn-Colour standard-Btn-border btn"/>
            </div>
            <br />
        </div>
     }

    <hr />
    
    @* View the Solvr and regular comments here *@
    @foreach (SolvrLibrary.Comment item in ViewBag.CommentList)
    {
        if (item.CommentType.Equals("Comment"))
        {
            <div class="post-Box-ViewComment-Standard">
                <div>
                    <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
                    @Html.Label("", item.User.Username)
                </div>
                <div class="post-VoteFloat">
                    <img src="~/Content/Images/upvote-downvote.png" class="post-Vote" />
                    @Html.Label("", "0", new { @class = "post-VoteLabel" })
                    <img src="~/Content/Images/downvote.png" class="post-Vote" />
                </div>
                <div class="post-CommentBox-TextArea">
                    @Html.TextArea("ViewCommentArea", item.Text, 5, 0, new { @readonly = "readonly", @class = "post-TextArea-View" })
                </div>
                <div class="post-BtnFloat" style="margin-right: 5%">
                    <input type="submit" name="Report Comment" value="Report" class="standard-Btn-Colour standard-Btn-border btn" />
                </div>
                @Html.Label("", (item.DateCreated.ToShortTimeString() + " " + item.DateCreated.ToShortDateString()), new { @class = "post-DateLabel" })
                <br />
                <br />
            </div>
        }
        else
        {
            @{/* TODO: Choose og remove skal kun være visibel når den anden er skjult */}
            @*If sætningen indeholder den ikke valgte bruger*@
            @if ()
            {
                <div class="post-Box-ViewPhysicalComment-Standard-NotChosen">
                    <div>
                        <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
                        @Html.Label("", item.User.Username)
                    </div>
                    <div class="post-CommentBox-TextArea">
                        @Html.TextArea("ViewCommentArea", item.Text, 5, 0, new { @readonly = "readonly", @class = "post-TextArea-View" })
                    </div>
                    <div class="post-BtnFloat" style="margin-right: 5%">
                        <input type="submit" name="Report Comment" value="Report" class="standard-Btn-Colour standard-Btn-border btn" />
                        @{/* TODO: Only Post owner can choose this */}
                        <input type="submit" name="Choose Solvr" value="Choose" class="standard-Btn-Colour standard-Btn-border btn" onclick="location.href='@Url.Action("NotImplementedYet", "Home")'" />
                    </div>
                    @Html.Label("", (item.DateCreated.ToShortTimeString() + " " + item.DateCreated.ToShortDateString()), new { @class = "post-DateLabel" })
                    <br />
                    <br />
                </div>
            }
            @*Else sætningen indeholder den valgte bruger*@
            @else
            {
                <div class="post-Box-ViewPhysicalComment-Standard-Chosen">
                    <div>
                        <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
                        @Html.Label("", item.User.Username)
                    </div>
                    <div class="post-CommentBox-TextArea">
                        @Html.TextArea("ViewCommentArea", item.Text, 5, 0, new { @readonly = "readonly", @class = "post-TextArea-View" })
                    </div>
                    <div class="post-BtnFloat" style="margin-right: 5%">
                        <input type="submit" name="Report Comment" value="Report" class="standard-Btn-Colour standard-Btn-border btn" />@{/* TODO: ¨Choose ændres til remove */}
                        <input type="submit" name="Choose Solvr" value="Remove" class="standard-Btn-Colour standard-Btn-border btn" onclick="" />
                    </div>
                    @Html.Label("", (item.DateCreated.ToShortTimeString() + " " + item.DateCreated.ToShortDateString()), new { @class = "post-DateLabel" })
                    <br />
                    <br />
                </div>
            }
        }
    }
</body>





