<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<body>
    <div class="home-body">
        <div class="home-side">
            I am the side box fear me
        </div>
        <div class="home-main">
            @foreach (SolvrLibrary.Post item in ViewBag.PostList)
            {
                @*Home-column sætter ind i tre kolonner som fylder 33,33% af box home-main*@
                @*Alt her under skal ind i en foreach loop*@
                <div class="home-column" onclick="location.href='@Url.Action("Index", "Post", new { ID = item.Id })'">
                    @*Home-main-content sætter alt indhold ind i en boks*@
                    @if (item.PostType == "Physical")
                    {
                        <div class="home-main-content" style="background-color: rgba(255,99,71,0.4)">
                            <div>
                                @Html.Label("", item.Title)
                            </div>

                            <div>
                                <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
                                @*Name skal være en link*@
                                @Html.Label("", item.User.Username)<br />
                                Category:
                                @*Category skal hentes fra den valgte pos*@
                                @Html.Label("", item.Category.Name)
                            </div>
                            <div>
                                @*Text area her er description fra hentede postering og skal være readonly*@
                                @Html.TextArea("ViewCommentArea", item.Description, new { @readonly = "readonly", @class = "standard-TextArea-Size" })
                            </div>
                        </div>
                    }
                    else{ 
                        <div class="home-main-content">
                            <div>
                                @Html.Label("", item.Title)
                            </div>
                        
                            <div>
                                <img src="~/Content/Images/994192_1.jpg" class="post-CommentAvatar" />
                                @*Name skal være en link*@
                                @Html.Label("", item.User.Username)<br />
                                Category:
                                @*Category skal hentes fra den valgte pos*@
                                @Html.Label("", item.Category.Name)
                            </div>
                            <div>
                                @*Text area her er description fra hentede postering og skal være readonly*@
                                @Html.TextArea("ViewCommentArea", item.Description, new { @readonly = "readonly", @class = "standard-TextArea-Size" })
                            </div>
                        </div>
                    }
                </div>
            }
            @*Den her knap linker til posteringen*@
            @if (ViewBag.LoadCount >= 24)
            {
                <input type="button" name="View post" value="Go back one page" class="standard-Btn-border btn standard-Btn-Colour" onclick="location.href='@Url.Action("Index", "Home", new { loadCount = ViewBag.LoadCount - 24 })'" />
            }
            @Html.Label("","Showing posts from nr " + ((int)ViewBag.LoadCount+1) + " to nr " + (int)(ViewBag.LoadCount+ ViewBag.PostList.Count))
            @if (ViewBag.PostList.Count == 24)
            {
                <input type="button" name="View post" value="Load more Pages" class="standard-Btn-border btn standard-Btn-Colour" onclick="location.href='@Url.Action("Index", "Home", new { loadCount = ViewBag.LoadCount + 24 })'"/>
            }
        </div>
    </div>
  </body>

