@model SolvrWebClient.Models.CreatePostViewModel

@{
    ViewBag.Title = "Create a post";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("CreatePostView", "CreatePost", FormMethod.Post))
{
    <section>
        <p>
            <b>Titel:</b> <br />
            @Html.TextBoxFor(m => m.NewPassword)<br />
            <b>Category:</b> <br />
            @Html.DropDownList("SelectCategory", "Select Category")
        </p>
    </section>
    <section>
        <p>
            <b>Description:</b> <br />
            @Html.TextArea("CreateDescription", "", 10, 100, new { @class = "textarea-notresizeable" })
        </p>
    </section>
    <section>
        <p>
            <b>Tags:</b> <br />
            <div class="textarea notresizeable">
            
                @Html.TextArea("CreateTags", "", 1, 100, new { @class = "textarea-notresizeable" })
            </div>
        </p>
    </section>                                                                                                                                                                  
    <section>    
        <input type="submit" name="CreatePost2" value="Create Post2" class="reposition-buttonright" />
        <input type="button" name="CreatePost" value="Create Post" class="reposition-buttonright" OnClick="location.href='@Url.Action("CreatePostView", "CreatePost", new { })'"/>
        @Html.ActionLink("Edit", "CreatePostView", new { id = 1 });
    </section> 
}
                                                                                                                                                                     