@model SolvrWebClient.Models.PostViewModel

@{
    ViewBag.Title = "Create a post";
}
<h2>@ViewBag.Title</h2>

<div class="createPost-BtnFloat">
    <input type="button" class="standard-Btn-Colour standard-Btn-border btn" name="CreatePhysical" value="Create Physical post" onclick="location.href='@Url.Action("CreatePhysical", "CreatePost")'" />
</div>
@using (Html.BeginForm("Create", "CreatePost", FormMethod.Post))
{
    <div>
        <b>Titel:</b><br />
        @Html.TextBoxFor(m => m.Title)<br />
        <b>Category:</b><br />
        @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.DropDownList, "Select Category")
    </div>
    <div>
        <b>Description:</b><br />
        @Html.TextAreaFor(m => m.Description, 10, 0, new { @class = "standard-TextArea-Size" })
    </div>
    <div>
        <b>Tags:</b><br />
        @Html.TextAreaFor(m => m.TagsString, 1, 0, new { @class = "standard-TextArea-Size" })
    </div>
    <br />
    <div class="createPost-BtnFloat">
        <input type="submit" name="Create" value="Create" class="standard-Btn-Colour standard-Btn-border btn" />
    </div><br />
}
